table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

th,
td {
  padding: 15px 10px 15px 10px;
  text-align: center;
  border-right: 3px dashed gray;
}

.text-color-white {
  color: #fff;
}

.text-color-black {
  color: #000;
}

.border-bottom {
  border-bottom: 3px solid gray;
}

.left-cells {
  text-align: left;
}

.right-cells {
  text-align: right;
}

.even-rows-odd-cells {
  background-color: lightgray;
}

.even-rows-even-cells {
  background-color: green;
}

.lightblue {
  background-color: lightblue;
}

.coral {
  background-color: coral;
}

.mediumslateblue {
  background-color: mediumslateblue;
}

.aquamarine {
  background-color: aquamarine;
}

.lightseagreen {
  background-color: lightseagreen;
}

.greenyellow {
  background-color: greenyellow;
}

.border-right-none {
  border-right: none;
}
